:root {
    --accent-100: 244, 171, 186;
    --accent-200: 241, 148, 167;
    --accent-300: 238, 126, 149;
    --accent-400: 235, 103, 130;
    --accent-500: 232, 80, 111;
    --accent-600: 229, 58, 93;

    --dark-100: 10, 10, 10;
    --dark-200: 17, 17, 17;
    --dark-300: 26, 26, 26;
    --dark-400: 34, 34, 34;
    --dark-500: 42, 42, 42;
    --dark-600: 51, 51, 51;

    --light-100: 238, 238, 238;
    --light-200: 204, 204, 204;
    --light-300: 170, 170, 170;
    --light-400: 153, 153, 153;
    --light-500: 119, 119, 119;
    --light-600: 102, 102, 102;

    --font-family: sans-serif;

    --online: 59, 165, 93;
    --idle: 250, 168, 26;
    --do-not-disturb: 237, 66, 69;
    --offline: 116, 127, 141;
}

body {
    margin: 0px;
    background: rgb(var(--dark-200));
    color: rgb(var(--light-200));
    font: 14px var(--font-family);
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
}

:focus-visible {
    outline-width: 1px;
    outline-color: rgb(var(--accent-100));
    outline-style: solid;
    border-radius: 2px;
}

*::placeholder {
    font-family: var(--font-family);
    color: rgb(var(--light-600));
}

textarea {
    font-family: var(--font-family);
}

a {
    color: rgb(var(--accent-100));
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(var(--accent-200));
}

* {
    user-select: none;
    -webkit-user-drag: none;
}

*::-webkit-scrollbar {
    height: 14px;
    width: 14px;
    border-radius: 100px;
}

*::-webkit-scrollbar-track {
    background: rgba(var(--dark-200));;
    border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
    background: rgb(var(--dark-400));
    border-radius: 100px;
    border: 3px solid rgba(var(--dark-200));
    cursor: pointer;

    &:hover {
        background: rgb(var(--dark-500));
    }
}

*::-webkit-scrollbar-corner {
    background: rgb(var(--dark-400));
    border: 3px solid rgba(var(--dark-200));
    border-radius: 100px;
}

[loading] {
    color: rgb(var(--accent-100));
    aspect-ratio: 1 / 1;
    width: 16px;
    border-radius: 50%;
    border-top: 4px solid currentColor;
    border-right: 4px solid currentColor;
    border-bottom: 4px solid #0000;
    border-left: 4px solid #0000;
    display: inline-block;
    animation: 1.5s rotate cubic-bezier(0.76, 0, 0.24, 1) infinite;
    pointer-events: none;
}

@keyframes rotate {
    from {
        transform: rotate(-45deg)
    }
    to {
        transform: rotate(315deg)
    }
}

.material-symbols-rounded {
    font-size: 20px;
}