.servers {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 70px;
  padding: 10px 0px;
  overflow: auto;
  background: rgb(var(--dark-100));
}

.topnav {
  position: absolute;
  top: 0px;
  left: 70px;
  right: 0px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  background: rgb(var(--dark-100));
}
.topnav .channelnav {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  background: rgb(var(--dark-200));
  border-bottom: 2px solid rgb(var(--dark-100));
}
.topnav .contentnav {
  flex-grow: 1;
  flex-shrink: 0;
  background: rgb(var(--dark-300));
  border-bottom: 2px solid rgb(var(--dark-200));
}

.main {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 0px;
  left: 70px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}
.main .channels {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  background: rgb(var(--dark-200));
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
}
.main .channels .list {
  flex-grow: 1;
  flex-shrink: 0;
}
.main .channels .user {
  width: 100%;
  background: rgb(var(--dark-100));
  height: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
}
.main .channels .user .popup {
  background: rgb(var(--dark-100));
  border-radius: 10px;
  position: absolute;
  bottom: 70px;
  left: 10px;
  min-height: 170px;
  width: 280px;
  max-height: calc(100vh - 20px);
  max-width: calc(100vw - 20px);
  z-index: 1;
  box-shadow: 3px 3px 9px 0px rgba(var(--dark-000), 0.2);
}
.main .channels .user .popup .banner {
  width: 100%;
  height: 70px;
  border-radius: 10px 10px 0px 0px;
  position: relative;
}
.main .channels .user .popup .banner .image {
  width: 80px;
  aspect-ratio: 1/1;
  position: absolute;
  bottom: 0px;
  left: 2px;
  transform: translateY(50%);
  border-radius: 50%;
  background: rgb(var(--dark-100));
  border: 6px solid rgb(var(--dark-100));
}
.main .channels .user .popup .details {
  margin-left: 96px;
  font-size: 14px;
  font-weight: bold;
}
.main .channels .user .popup .details .name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
}
.main .channels .user .popup .details .name .discriminator {
  color: rgb(var(--light-600));
}
.main .channels .user .inner {
  margin: 7px;
  border-radius: 7px;
  flex-grow: 1;
  flex-shrink: 0;
  cursor: pointer;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.main .channels .user .inner:hover {
  background: rgb(var(--dark-200));
}
.main .channels .user .inner .image {
  height: 38px;
  padding: 5px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.main .channels .user .inner .stack {
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main .content {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  background: rgb(var(--dark-300));
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.main .content .messages {
  flex-grow: 1;
  flex-shrink: 0;
}
.main .content .area {
  --mult: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  font-size: 15px;
  height: calc(50px + 1em * (var(--mult) - 1));
}
.main .content .area .input {
  position: absolute;
  inset: 15px;
  top: -10px;
  border-radius: 10px;
  background: rgb(var(--dark-200));
  display: flex;
  justify-content: stretch;
  align-items: flex-start;
}
.main .content .area .input .material-symbols-rounded {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-right: 0px;
  width: 35px;
  height: 35px;
  border-radius: 6px;
  font-size: 22px;
  color: rgb(var(--light-200));
  cursor: pointer;
  border: none;
  background: transparent;
}
.main .content .area .input .material-symbols-rounded:hover {
  background: rgb(var(--dark-300));
}
.main .content .area .input .material-symbols-rounded:first-child {
  margin-right: 5px;
}
.main .content .area .input .material-symbols-rounded:last-child {
  margin-right: 5px;
}
.main .content .area .input .text {
  border: none;
  background: transparent;
  color: rgb(var(--light-200));
  resize: none;
  scrollbar-gutter: stable;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 15px 0px;
  height: calc((1em + 1.7px) * var(--mult));
  padding-left: 3px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  width: 0px;
}
.main .content .area .input .text:focus-visible {
  outline: none;
}
.main .content .area .input .text::-moz-placeholder {
  color: rgb(var(--light-500));
  max-height: calc(1em + 1.7px);
  width: 100%;
  z-index: 3;
  white-space: nowrap;
}
.main .content .area .input .text::placeholder {
  color: rgb(var(--light-500));
  max-height: calc(1em + 1.7px);
  width: 100%;
  z-index: 3;
  white-space: nowrap;
}
.main .content .area .input div {
  margin: 5px 0px;
  width: 1px;
  height: calc(100% - 10px);
  background: rgb(var(--dark-400));
}
.main .users {
  width: 250px;
  flex-grow: 0;
  flex-shrink: 0;
  background: rgb(var(--dark-200));
}/*# sourceMappingURL=server.css.map */