.servers {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 70px;
    padding: 10px 0px;
    overflow: auto;
    background: rgb(var(--dark-100));
}

.topnav {
    position: absolute;
    top: 0px;
    left: 70px;
    right: 0px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    background: rgb(var(--dark-100));

    .channelnav {
        width: 250px;
        flex-grow: 0;
        flex-shrink: 0;
        background: rgb(var(--dark-200));
        border-bottom: 2px solid rgb(var(--dark-100));
    }

    .contentnav {
        flex-grow: 1;
        flex-shrink: 0;
        background: rgb(var(--dark-300));
        border-bottom: 2px solid rgb(var(--dark-200));
    }
}

.main {
    position: absolute;
    top: 40px;
    right: 0px;
    bottom: 0px;
    left: 70px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;

    .channels {
        width: 250px;
        flex-grow: 0;
        flex-shrink: 0;
        background: rgb(var(--dark-200));
        display: flex;
        justify-content: stretch;
        align-items: stretch;
        flex-direction: column;

        .list {
            flex-grow: 1;
            flex-shrink: 0;
        }

        .user {
            width: 100%;
            background: rgb(var(--dark-100));
            height: 60px;
            flex-grow: 0;
            flex-shrink: 0;
            display: flex;

            .popup {
                background: rgb(var(--dark-100));
                border-radius: 10px;
                position: absolute;
                bottom: 70px;
                left: 10px;
                min-height: 170px;
                width: 280px;
                max-height: calc(100vh - 20px);
                max-width: calc(100vw - 20px);
                z-index: 1;
                box-shadow: 3px 3px 9px 0px rgba(var(--dark-000), .20);

                .banner {
                    width: 100%;
                    height: 70px;
                    border-radius: 10px 10px 0px 0px;
                    position: relative;

                    .image {
                        width: 80px;
                        aspect-ratio: 1/1;
                        position: absolute;
                        bottom: 0px;
                        left: 2px;
                        transform: translateY(50%);
                        border-radius: 50%;
                        background: rgb(var(--dark-100));
                        border: 6px solid rgb(var(--dark-100));
                    }
                }

                .details {
                    margin-left: 96px;
                    font-size: 14px;
                    font-weight: bold;

                    .name {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 5px;

                        .discriminator {
                            color: rgb(var(--light-600));
                        }
                    }
                }
            }

            .inner {
                margin: 7px;
                border-radius: 7px;
                flex-grow: 1;
                flex-shrink: 0;
                cursor: pointer;
                display: flex;
                justify-content: stretch;
                align-items: stretch;

                &:hover {
                    background: rgb(var(--dark-200));
                }

                .image {
                    height: 38px;
                    padding: 5px;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                }
            
                .stack {
                    padding: 10px 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;
                }
            }
        }
    }

    .content {
        position: relative;
        flex-grow: 1;
        flex-shrink: 0;
        background: rgb(var(--dark-300));
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;

        .messages {
            flex-grow: 1;
            flex-shrink: 0;
        }

        .area {
            --mult: 1;
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            flex-grow: 0;
            flex-shrink: 1;
            font-size: 15px;
            height: calc(50px + ((1em) * (var(--mult) - 1)));

            .input {
                position: absolute;
                inset: 15px;
                top: -10px;
                border-radius: 10px;
                background: rgb(var(--dark-200));
                display: flex;
                justify-content: stretch;
                align-items: flex-start;

                .material-symbols-rounded {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 5px;
                    margin-right: 0px;
                    width: 35px;
                    height: 35px;
                    border-radius: 6px;
                    font-size: 22px;
                    color: rgb(var(--light-200));
                    cursor: pointer;
                    border: none;
                    background: transparent;
                    
                    &:hover {
                        background: rgb(var(--dark-300));
                    }

                    &:first-child {
                        margin-right: 5px
                    }

                    &:last-child {
                        margin-right: 5px
                    }
                }

                .text {
                    border: none;
                    background: transparent;
                    color: rgb(var(--light-200));
                    resize: none;
                    scrollbar-gutter: stable;
                    flex-grow: 1;
                    flex-shrink: 0;
                    padding: 15px 0px;
                    height: calc((1em + 1.7px) * var(--mult));
                    padding-left: 3px;
                    text-overflow: ellipsis;
                    overflow-x: hidden;
                    width: 0px;

                    &:focus-visible {
                        outline: none;
                    }

                    &::placeholder {
                        color: rgb(var(--light-500));
                        max-height: calc(1em + 1.7px);
                        width: 100%;
                        z-index: 3;
                        white-space: nowrap;
                    }
                }

                div {
                    margin: 5px 0px;
                    width: 1px;
                    height: calc(100% - 10px);
                    background: rgb(var(--dark-400));
                }
            }
        }
    }

    .users {
        width: 250px;
        flex-grow: 0;
        flex-shrink: 0;
        background: rgb(var(--dark-200));
    }
}